﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RiskSection.ascx.cs" Inherits="DGS.ArbPro.Web.Controls.RiskSection" %>
<asp:Content runat="server" ID="SectionContent" ContentPlaceHolderID="Content">

</asp:Content>