﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DialogTest.aspx.cs" Inherits="DGS.ArbPro.Web.DialogTest" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <asp:Panel runat="server" ID="content" Width="100%" Height="99%" >
        This is a test that will get on your nerves,<br />
        get on your nerves,<br />
        get on your nerves,<br />
        This is a test that will get on your nerves,<br />
        All day long<br />
    </asp:Panel>
    </form>
</body>
</html>
