﻿/*states, content and header*/
.jqx-widget-arbpro{border-color:#E48605}
.jqx-widget-content-arbpro{color:#000000; border-color:#E48605}
.jqx-fill-state-normal-arbpro, .jqx-widget-header-arbpro, .jqx-menu-vertical-arbpro {
    border-color: #E48605;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    *background-color: #f89406;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
}
.jqx-fill-state-hover-arbpro{
    border-color: #E48605;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #E74615;
    *background-color: #E74615;
    background-image: -moz-linear-gradient(top, #f89406, #E48605);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f89406), to(#E48605));
    background-image: -webkit-linear-gradient(top, #f89406, #E48605);
    background-image: -o-linear-gradient(top, #f89406, #E48605);
    background-image: linear-gradient(to bottom, #f89406, #E48605);
    background-repeat: repeat-x;
}
.jqx-fill-state-pressed-arbpro, .jqx-menu-item-top-hover-arbpro{ background: #044062; /* Old browsers */
    border-color: #325da7;
    color: #ffffff;
    background: #4d77c1; /* Old browsers */
    background: -moz-linear-gradient(top, #4d77c1 0%, #325da7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d77c1), color-stop(100%,#325da7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4d77c1 0%,#325da7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4d77c1 0%,#325da7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4d77c1 0%,#325da7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4d77c1 0%,#325da7 100%); /* W3C */
}
/*checkbox images, grid cells*/
.jqx-checkbox-check-checked-arbpro{background:transparent url(images/check_white.png) left top no-repeat}
.jqx-checkbox-check-indeterminate-arbpro{background:transparent url(images/check_indeterminate_white.png) left top no-repeat}
.jqx-grid-arbpro, .jqx-grid-header-arbpro, .jqx-grid-cell-arbpro{border-color:#E48605}
.jqx-widget-arbpro .jqx-grid-cell-arbpro, .jqx-widget-arbpro .jqx-grid-group-cell-arbpro{border-color:#FBB34E}
.jqx-widget-arbpro .jqx-grid-column-header-arbpro{border-color:#E48605}
.jqx-grid-bottomright-arbpro, .jqx-panel-bottomright-arbpro, .jqx-listbox-bottomright-arbpro{   background-color:#FBB659}
.jqx-widget-arbpro .jqx-grid-column-menubutton-arbpro, .jqx-menu-vertical-arbpro{border-color:#FBB34E}
 .jqx-grid-selectionarea-arbpro{background-color:#6eaad3;border:1px solid #6eaad3; opacity:0.5}
.jqx-grid-group-cell-arbpro{border-color:#FBB34E; background-color:#fff}
.jqx-grid-cell-arbpro, .jqx-widget-arbpro .jqx-grid-cell-arbpro {
border-color:#FBB34E; }
.jqx-grid-cell-sort-arbpro, .jqx-grid-cell-filter-arbpro, .jqx-grid-cell-pinned-arbpro{background-color:#FCC67C}
.jqx-grid-cell-alt-arbpro, .jqx-grid-cell-sort-alt-arbpro, .jqx-grid-cell-filter-alt-arbpro{background-color:#FCC67C}
.jqx-scrollbar-state-normal-arbpro{background-color:#FBB659; border:1px solid #FBB659;}
.jqx-tabs-title-selected-bottom-arbpro, .jqx-tabs-selection-tracker-bottom-arbpro, .jqx-tabs-title-selected-top-arbpro, .jqx-tabs-selection-tracker-top-arbpro{text-shadow: none; color: #000; border-color:#E48605; border-bottom:1px solid #ffffff; background:#ffffff}
.jqx-radiobutton-check-checked-arbpro {
    background: #fff;
    border-color: #fff;
}
/*icons*/
.jqx-icon-arrow-left-arbpro{background-image:url('images/icon-left-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-icon-arrow-right-arbpro{background-image:url('images/icon-right-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-menu-item-arrow-left-arbpro{background-image:url('images/icon-left.png'); background-repeat:no-repeat; background-position:center}
.jqx-menu-item-arrow-right-arbpro{background-image:url('images/icon-right.png'); background-repeat:no-repeat; background-position:center}

.jqx-grid-column-sortascbutton-arbpro, .jqx-expander-arrow-bottom-arbpro, .jqx-window-collapse-button-arbpro, .jqx-menu-item-arrow-up-arbpro, .jqx-menu-item-arrow-up-selected-arbpro, .jqx-menu-item-arrow-top-up-arbpro, .jqx-icon-arrow-up-arbpro, .jqx-icon-arrow-up-hover-arbpro, .jqx-icon-arrow-up-selected-arbpro{background-image:url('images/icon-up-white.png');background-repeat:no-repeat;background-position:center}
.jqx-grid-column-menubutton-arbpro, .jqx-grid-column-sortdescbutton-arbpro, .jqx-expander-arrow-top-arbpro, .jqx-window-collapse-button-collapsed-arbpro, .jqx-menu-item-arrow-down-arbpro, .jqx-menu-item-arrow-down-selected-arbpro, .jqx-menu-item-arrow-down-arbpro, .jqx-icon-arrow-down-arbpro, .jqx-icon-arrow-down-hover-arbpro, .jqx-icon-arrow-down-selected-arbpro{background-image:url('images/icon-down-white.png');background-repeat:no-repeat;background-position:center}
.jqx-tabs-arrow-left-arbpro, .jqx-menu-item-arrow-left-selected-arbpro, .jqx-menu-item-arrow-top-left-arbpro, .jqx-icon-arrow-down-left-arbpro, .jqx-icon-arrow-left-selected-arbpro{background-image:url('images/icon-left-white.png');background-repeat:no-repeat;background-position:center}
.jqx-tabs-arrow-right-arbpro, .jqx-menu-item-arrow-right-selected-arbpro, .jqx-menu-item-arrow-top-right-arbpro, .jqx-icon-arrow-right-hover-arbpro, .jqx-icon-arrow-right-selected-arbpro{background-image:url('images/icon-right-white.png');background-repeat:no-repeat;background-position:center}
.jqx-window-close-button-arbpro, .jqx-icon-close-arbpro, .jqx-tabs-close-button-arbpro, .jqx-tabs-close-button-hover-arbpro, .jqx-tabs-close-button-selected-arbpro{background-image:url(images/close_white.png);  background-repeat:no-repeat;  background-position:center}

.jqx-scrollbar-thumb-state-normal-horizontal-arbpro{ background:#F9960A; border:1px solid #E48605}
.jqx-scrollbar-thumb-state-hover-horizontal-arbpro{ background:#E48605; border:1px solid #E48605}
.jqx-scrollbar-thumb-state-pressed-horizontal-arbpro{ background:#111086; border:1px solid #070734}
.jqx-scrollbar-thumb-state-normal-arbpro{ background:#F9960A; border:1px solid #E48605;}
.jqx-scrollbar-thumb-state-hover-arbpro{ background:#E48605; border:1px solid #E48605}
.jqx-scrollbar-thumb-state-pressed-arbpro{ background:#111086; border:1px solid #070734}
.jqx-icon-arrow-first-arbpro
{
    background-image: url('images/icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-arbpro
{
    background-image: url('images/icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-cell-arbpro>.jqx-grid-group-expand-arbpro {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-arbpro>.jqx-grid-group-collapse-arbpro {
    background-image: url('images/icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-arbpro>.jqx-grid-group-collapse-rtl-arbpro {
    background-image: url('images/icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-arbpro>.jqx-grid-group-expand-rtl-arbpro {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-cell-arbpro.jqx-grid-cell-selected-arbpro>.jqx-grid-group-expand-arbpro,
.jqx-grid-cell-arbpro.jqx-grid-cell-hover-arbpro>.jqx-grid-group-expand-arbpro {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-arbpro.jqx-grid-cell-selected-arbpro>.jqx-grid-group-collapse-arbpro,
.jqx-grid-cell-arbpro.jqx-grid-cell-hover-arbpro>.jqx-grid-group-collapse-arbpro {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-arbpro.jqx-grid-cell-selected-arbpro>.jqx-grid-group-collapse-rtl-arbpro,
.jqx-grid-cell-arbpro.jqx-grid-cell-hover-arbpro>.jqx-grid-group-collapse-rtl-arbpro {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-arbpro.jqx-grid-cell-selected-arbpro>.jqx-grid-group-expand-rtl-arbpro,
.jqx-grid-cell-arbpro.jqx-grid-cell-hover-arbpro>.jqx-grid-group-expand-rtl-arbpro {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-search-arbpro
{
    background-image: url(images/search_white.png);
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-calendar-arbpro, .jqx-icon-calendar-hover-arbpro, .jqx-icon-calendar-pressed-arbpro {
    background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-delete-arbpro
{
    background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-arbpro
{
    background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-arbpro
{
    background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-arbpro
{
    background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-arbpro
{
    background-image: url(images/search_white.png);
}
.jqx-icon-plus-arbpro
{
    background-image: url(images/plus_white.png);
}
.jqx-menu-minimized-button-arbpro {
   background-image: url('images/icon-menu-minimized-white.png');
}
.jqx-widget-arbpro
{
  font-family: Verdana;
}
.jqx-widget-content-arbpro
{
  color: #000000;
  text-shadow: none;
  border-color: #3F8235;
  background: #ffffff;
  font-family: Verdana;
}
.jqx-widget-header-arbpro, .jqx-grid-arbpro .jqx-widget-header-arbpro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #3F8235;
  background-color: #4DA041;
  background-image: -moz-linear-gradient(top, #4DA041, #3F8235);
  background-image: -ms-linear-gradient(top, #4DA041, #3F8235);
  background-image: -o-linear-gradient(top, #4DA041, #3F8235);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4DA041), to(#3F8235));
  background-image: -webkit-linear-gradient(top, #4DA041, #3F8235);
  background-image: linear-gradient(top, #4DA041, #3F8235);
  background-image: linear-gradient(to bottom, #4DA041, #3F8235);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-column-menubutton-arbpro, .jqx-widget-arbpro.jqx-grid-column-menubutton-arbpro
{
  border-color: #3F8235;
}
.jqx-grid-cell-arbpro, .jqx-widget-arbpro .jqx-grid-cell-arbpro
{
  background-color: #ffffff;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-normal-arbpro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35662D;
  background-color: #4DA041;
  background-image: -moz-linear-gradient(top, #4DA041, #3F8235);
  background-image: -ms-linear-gradient(top, #4DA041, #3F8235);
  background-image: -o-linear-gradient(top, #4DA041, #3F8235);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4DA041), to(#3F8235));
  background-image: -webkit-linear-gradient(top, #4DA041, #3F8235);
  background-image: linear-gradient(top, #4DA041, #3F8235);
  background-image: linear-gradient(to bottom, #4DA041, #3F8235);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-button-arbpro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #07842D;
  background-color: #41D379;
  background-image: -moz-linear-gradient(top, #41D379, #07842D);
  background-image: -ms-linear-gradient(top, #41D379, #07842D);
  background-image: -o-linear-gradient(top, #41D379, #07842D);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#41D379), to(#07842D));
  background-image: -webkit-linear-gradient(top, #41D379, #07842D);
  background-image: linear-gradient(top, #41D379, #07842D);
  background-image: linear-gradient(to bottom, #41D379, #07842D);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-selectionarea-arbpro
{
  border-color: #35662D;
  background-color: #4DA041;
}
.jqx-widget-arbpro .jqx-grid-cell-sort-arbpro, .jqx-widget-arbpro .jqx-grid-cell-filter-arbpro, .jqx-widget-arbpro .jqx-grid-cell-pinned-arbpro, .jqx-grid-cell-sort-arbpro, .jqx-grid-cell-filter-arbpro, .jqx-grid-cell-pinned-arbpro
{
  background-color: #5B9652;
  color: #222222;
  text-shadow: none;
}
.jqx-widget-arbpro .jqx-grid-cell-alt-arbpro, .jqx-widget-arbpro .jqx-grid-cell-sort-alt-arbpro, .jqx-widget-arbpro .jqx-grid-cell-pinned-alt-arbpro, .jqx-widget-arbpro .jqx-grid-cell-filter-alt-arbpro, .jqx-grid-cell-alt-arbpro, .jqx-grid-cell-sort-alt-arbpro, .jqx-grid-cell-filter-alt-arbpro
{
  background-color: #E0EDDE;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-hover-arbpro, .jqx-widget-arbpro .jqx-grid-cell-hover-arbpro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #3F8235;
  background-color: #A7B2A6;
  background-image: -moz-linear-gradient(top, #A7B2A6, #D0E0CE);
  background-image: -ms-linear-gradient(top, #A7B2A6, #D0E0CE);
  background-image: -o-linear-gradient(top, #A7B2A6, #D0E0CE);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#A7B2A6), to(#D0E0CE));
  background-image: -webkit-linear-gradient(top, #A7B2A6, #D0E0CE);
  background-image: linear-gradient(top, #A7B2A6, #D0E0CE);
  background-image: linear-gradient(to bottom, #A7B2A6, #D0E0CE);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-fill-state-pressed-arbpro, .jqx-widget-arbpro .jqx-grid-cell-selected-arbpro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #3F8235;
  background-color: #41B230;
  background-image: -moz-linear-gradient(top, #41B230, #41B230);
  background-image: -ms-linear-gradient(top, #41B230, #41B230);
  background-image: -o-linear-gradient(top, #41B230, #41B230);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#41B230), to(#41B230));
  background-image: -webkit-linear-gradient(top, #41B230, #41B230);
  background-image: linear-gradient(top, #41B230, #41B230);
  background-image: linear-gradient(to bottom, #41B230, #41B230);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-switchbutton-label-on-arbpro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #3F8235;
  background-color: #41B230;
  background-image: -moz-linear-gradient(top, #41B230, #41B230);
  background-image: -ms-linear-gradient(top, #41B230, #41B230);
  background-image: -o-linear-gradient(top, #41B230, #41B230);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#41B230), to(#41B230));
  background-image: -webkit-linear-gradient(top, #41B230, #41B230);
  background-image: linear-gradient(top, #41B230, #41B230);
  background-image: linear-gradient(to bottom, #41B230, #41B230);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-arbpro, .jqx-tabs-selection-tracker-top-arbpro
{
  color: #000000;
  text-shadow: none;
  border-color: #3F8235;
  border-bottom: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-tabs-title-selected-bottom-arbpro, .jqx-tabs-selection-tracker-bottom-arbpro
{
  color: #000000;
  text-shadow: none;
  border-color: #3F8235;
  border-top: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-splitter-splitbar-hover-arbpro
{
  background: #A7B2A6;
}
.jqx-splitter-splitbar-vertical-arbpro, .jqx-splitter-splitbar-horizontal-arbpro, .jqx-slider-track-horizontal-arbpro, .jqx-slider-track-vertical-arbpro
{
  background: #4DA041;
}
.jqx-splitter-collapse-button-horizontal-arbpro, .jqx-splitter-collapse-button-vertical-arbpro, .jqx-slider-rangebar-arbpro
{
  background: #41B230;
}
.jqx-scrollbar-state-normal-arbpro
{
  background-color: #91CE86;
  border-color: #91CE86;
}
.jqx-grid-bottomright-arbpro, .jqx-panel-bottomright-arbpro, .jqx-listbox-bottomright-arbpro
{
  background-color: #91CE86;
}
.jqx-scrollbar-thumb-state-normal-arbpro
{
  background-color: #418432;
  background-color: #418432;
  background-image: -moz-linear-gradient(left, #418432, #418432);
  background-image: -ms-linear-gradient(left, #418432, #418432);
  background-image: -o-linear-gradient(left, #418432, #418432);
  background-image: -webkit-gradient(linear, left top, right top, from(#418432), to(#418432));
  background-image: -webkit-linear-gradient(left, #418432, #418432);
  background-image: linear-gradient(left, #418432, #418432);
  background-image: linear-gradient(left right, #418432, #418432);
}
.jqx-scrollbar-thumb-state-normal-horizontal-arbpro
{
  background-color: #418432;
  background-color: #418432;
  background-image: -moz-linear-gradient(top, #418432, #418432);
  background-image: -ms-linear-gradient(top, #418432, #418432);
  background-image: -o-linear-gradient(top, #418432, #418432);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#418432), to(#418432));
  background-image: -webkit-linear-gradient(top, #418432, #418432);
  background-image: linear-gradient(top, #418432, #418432);
  background-image: linear-gradient(to bottom, #418432, #418432);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-arbpro
{
  background-color: #B7DDAF;
  border-color: #B7DDAF;
  background-image: -moz-linear-gradient(left, #B7DDAF, #B7DDAF);
  background-image: -ms-linear-gradient(left, #B7DDAF, #B7DDAF);
  background-image: -o-linear-gradient(left, #B7DDAF, #B7DDAF);
  background-image: -webkit-gradient(linear, left top, right top, from(#B7DDAF), to(#B7DDAF));
  background-image: -webkit-linear-gradient(left, #B7DDAF, #B7DDAF);
  background-image: linear-gradient(left, #B7DDAF, #B7DDAF);
  background-image: linear-gradient(left right, #B7DDAF, #B7DDAF);
}
.jqx-scrollbar-thumb-state-hover-horizontal-arbpro
{
  background-color: #B7DDAF;
  border-color: #B7DDAF;
  background-image: -moz-linear-gradient(top, #B7DDAF, #B7DDAF);
  background-image: -ms-linear-gradient(top, #B7DDAF, #B7DDAF);
  background-image: -o-linear-gradient(top, #B7DDAF, #B7DDAF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#B7DDAF), to(#B7DDAF));
  background-image: -webkit-linear-gradient(top, #B7DDAF, #B7DDAF);
  background-image: linear-gradient(top, #B7DDAF, #B7DDAF);
  background-image: linear-gradient(to bottom, #B7DDAF, #B7DDAF);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-arbpro
{
  background-color: #0E5423;
  border-color: #0E5423;
  background-image: -moz-linear-gradient(left, #0E5423, #0E5423);
  background-image: -ms-linear-gradient(left, #0E5423, #0E5423);
  background-image: -o-linear-gradient(left, #0E5423, #0E5423);
  background-image: -webkit-gradient(linear, left top, right top, from(#0E5423), to(#0E5423));
  background-image: -webkit-linear-gradient(left, #0E5423, #0E5423);
  background-image: linear-gradient(left, #0E5423, #0E5423);
  background-image: linear-gradient(left right, #0E5423, #0E5423);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-arbpro
{
  background-color: #0E5423;
  border-color: #0E5423;
  background-image: -moz-linear-gradient(top, #0E5423, #0E5423);
  background-image: -ms-linear-gradient(top, #0E5423, #0E5423);
  background-image: -o-linear-gradient(top, #0E5423, #0E5423);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#0E5423), to(#0E5423));
  background-image: -webkit-linear-gradient(top, #0E5423, #0E5423);
  background-image: linear-gradient(top, #0E5423, #0E5423);
  background-image: linear-gradient(to bottom, #0E5423, #0E5423);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-arbpro
{
  background-color: #418432;
  background-image: -moz-linear-gradient(top, #418432, #418432);
  background-image: -ms-linear-gradient(top, #418432, #418432);
  background-image: -o-linear-gradient(top, #418432, #418432);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#418432), to(#418432));
  background-image: -webkit-linear-gradient(top, #418432, #418432);
  background-image: linear-gradient(top, #418432, #418432);
  background-image: linear-gradient(to bottom, #418432, #418432);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-arbpro
{
  background-color: #B7DDAF;
  border-color: #B7DDAF;
  background-image: -moz-linear-gradient(top, #B7DDAF, #B7DDAF);
  background-image: -ms-linear-gradient(top, #B7DDAF, #B7DDAF);
  background-image: -o-linear-gradient(top, #B7DDAF, #B7DDAF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#B7DDAF), to(#B7DDAF));
  background-image: -webkit-linear-gradient(top, #B7DDAF, #B7DDAF);
  background-image: linear-gradient(top, #B7DDAF, #B7DDAF);
  background-image: linear-gradient(to bottom, #B7DDAF, #B7DDAF);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-arbpro
{
  background-color: #0E5423;
  border-color: #15BF48;
  background-image: -moz-linear-gradient(top, #0E5423, #0E5423);
  background-image: -ms-linear-gradient(top, #0E5423, #0E5423);
  background-image: -o-linear-gradient(top, #0E5423, #0E5423);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#0E5423), to(#0E5423));
  background-image: -webkit-linear-gradient(top, #0E5423, #0E5423);
  background-image: linear-gradient(top, #0E5423, #0E5423);
  background-image: linear-gradient(to bottom, #0E5423, #0E5423);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-arbpro
{
  background: #ffffff;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-arbpro
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-radius-topleft: 3px;
  border-radius-topleft: 3px;
}
.jqx-rc-tr-arbpro
{
  -moz-border-radius-topright: 3px;
  -webkit-border-radius-topright: 3px;
  border-radius-topright: 3px;
}
.jqx-rc-bl-arbpro
{
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-radius-bottomleft: 3px;
  border-radius-bottomleft: 3px;
}
.jqx-rc-br-arbpro
{
  -moz-border-radius-bottomright: 3px;
  -webkit-border-radius-bottomright: 3px;
  border-radius-bottomright: 3px;
}
.jqx-rc-t-arbpro
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.jqx-rc-b-arbpro
{
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.jqx-rc-r-arbpro
{
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.jqx-rc-l-arbpro
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.jqx-radiobutton-default-arbpro, .jqx-radiobutton-arbpro, .jqx-radiobutton-check-checked-arbpro, .jqx-radiobutton-hover-arbpro, .jqx-radiobutton-check-indeterminate-arbpro, .jqx-radiobutton-check-indeterminate-disabled-arbpro, .jqx-slider-button-arbpro
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-arbpro, .jqx-tooltip-arbpro, .jqx-tooltip-text-arbpro, .jqx-tooltip-main-arbpro
{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.jqx-grid-column-sortascbutton-arbpro, .jqx-expander-arrow-bottom-arbpro, .jqx-window-collapse-button-arbpro, .jqx-menu-item-arrow-up-arbpro, .jqx-menu-item-arrow-top-up-arbpro, .jqx-icon-arrow-up-arbpro
{
  background-image: url('images/icon-up-white.png');
}
.jqx-icon-arrow-up-hover-arbpro
{
  background-image: url('images/icon-up-white.png');
}
.jqx-menu-item-arrow-up-selected-arbpro, .jqx-icon-arrow-up-selected-arbpro.jqx-expander-arrow-expanded-arbpro
{
  background-image: url('images/icon-up-white.png');
}
.jqx-grid-column-menubutton-arbpro, .jqx-grid-column-sortdescbutton-arbpro, .jqx-expander-arrow-top-arbpro, .jqx-window-collapse-button-collapsed-arbpro, .jqx-menu-item-arrow-down-arbpro, .jqx-menu-item-arrow-down-arbpro, .jqx-tree-item-arrow-expand-arbpro, .jqx-grid-group-expand-arbpro, .jqx-widget-arbpro .jqx-grid-group-expand-arbpro, .jqx-icon-arrow-down-arbpro
{
  background-image: url('images/icon-down-white.png');
}
.jqx-icon-arrow-down-hover-arbpro
{
  background-image: url('images/icon-down-white.png');
}
.jqx-menu-item-arrow-down-selected-arbpro, .jqx-icon-arrow-down-selected-arbpro
{
  background-image: url('images/icon-down-white.png');
}
.jqx-tabs-arrow-left-arbpro, .jqx-menu-item-arrow-top-left-arbpro, .jqx-grid-group-collapse-rtl-arbpro, .jqx-widget-arbpro .jqx-grid-group-collapse-rtl-arbpro, .jqx-icon-arrow-left-arbpro, .jqx-icon-arrow-down-left-arbpro
{
  background-image: url('images/icon-left-white.png');
}
.jqx-icon-arrow-left-hover-arbpro
{
  background-image: url('images/icon-left-white.png');
}
.jqx-menu-vertical-arbpro
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-arbpro, .jqx-icon-arrow-left-selected-arbpro
{
  background-image: url('images/icon-left-white.png');
}
.jqx-tabs-arrow-right-arbpro, .jqx-menu-item-arrow-top-right-arbpro, .jqx-menu-item-arrow-collapse-arbpro, .jqx-grid-group-collapse-arbpro, .jqx-widget-arbpro .jqx-grid-group-collapse-arbpro, .jqx-icon-arrow-right-arbpro
{
  background-image: url('images/icon-right-white.png');
}
.jqx-icon-arrow-right-hover-arbpro
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-right-selected-arbpro, .jqx-icon-arrow-right-selected-arbpro
{
  background-image: url('images/icon-right-white.png');
}
.jqx-window-close-button-arbpro, .jqx-tabs-close-button-arbpro, .icon-close-arbpro
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-selected-arbpro
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-hover-arbpro
{
  background-image: url('images/close_white.png');
}
.jqx-widget-arbpro .jqx-grid-column-header-arbpro, .jqx-widget-arbpro .jqx-grid-cell-arbpro, .jqx-widget-arbpro .jqx-grid-group-cell-arbpro, .jqx-grid-cell-arbpro
{
  border-color: #3F8235;
}
.jqx-checkbox-check-checked-arbpro
{
  background-image: url('images/check_white.png');
}
.jqx-checkbox-check-indeterminate-arbpro
{
  background-image: url('images/check_indeterminate_white.png');
}
.jqx-tooltip-arbpro, .jqx-tooltip-main-arbpro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #386B30;
  background-color: #3F8235;
}
.jqx-combobox-content-arbpro, .jqx-input-arbpro
{
  color: #000000;
  text-shadow: none;
  border-color: #3F8235;
  background-color: #ffffff;
}
.jqx-combobox-input-arbpro
{
  color: #000000;
  text-shadow: none;
}
.jqx-input-content-arbpro
{
  color: #000000;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-arbpro, .jqx-popup-arbpro .jqx-fill-state-focus-arbpro
{
  border-color: #111111;
}
.jqx-popup-arbpro.jqx-listbox-arbpro, .jqx-popup-arbpro.jqx-calendar-arbpro,.jqx-menu-dropdown-arbpro,  .jqx-popup-arbpro.jqx-dropdownbutton-popup-arbpro
{
  color: #000000;
  text-shadow: none;
  border-color: #3F8235;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-arbpro, .jqx-tree-item-arrow-collapse-arbpro
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-left-arbpro
{
  background-image: url('images/icon-left.png');
}
.jqx-tree-item-arrow-expand-arbpro
{
  background-image: url('images/icon-down.png');
}
.jqx-menu-item-arrow-right-hover-arbpro
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-left-hover-arbpro
{
  background-image: url('images/icon-left-white.png');
}
.jqx-menu-item-arrow-right-selected-arbpro
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-left-selected-arbpro
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-arbpro .jqx-icon-arrow-up-arbpro
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-arbpro .jqx-icon-arrow-left-arbpro
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-arbpro .jqx-icon-arrow-right-arbpro
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-arbpro .jqx-icon-arrow-bottom-arbpro
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-scrollbar-arbpro .jqx-icon-arrow-up-hover-arbpro
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-arbpro .jqx-icon-arrow-left-hover-arbpro
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-arbpro .jqx-icon-arrow-right-hover-arbpro
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-arbpro .jqx-icon-arrow-bottom-hover-arbpro
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-scrollbar-arbpro .jqx-icon-arrow-up-selected-arbpro
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-arbpro .jqx-icon-arrow-left-selected-arbpro
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-arbpro .jqx-icon-arrow-right-selected-arbpro
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-arbpro .jqx-icon-arrow-bottom-selected-arbpro
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-calendar-arbpro .jqx-icon-arrow-up-arbpro, .jqx-tabs-header-arbpro .jqx-icon-arrow-up-arbpro
{
}
.jqx-calendar-arbpro .jqx-icon-arrow-left-arbpro, .jqx-tabs-header-arbpro .jqx-icon-arrow-left-arbpro
{
}
.jqx-calendar-arbpro .jqx-icon-arrow-right-arbpro, .jqx-tabs-header-arbpro .jqx-icon-arrow-right-arbpro
{
}
.jqx-calendar-arbpro .jqx-icon-arrow-bottom-arbpro, .jqx-tabs-header-arbpro .jqx-icon-arrow-bottom-arbpro
{
}
.jqx-widget-arbpro .jqx-grid-cell-arbpro, .jqx-listitem-state-normal-arbpro, .jqx-menu-item-normal-arbpro, .jqx-tree-item-normal-arbpro, .jqx-calendar-cell-arbpro, .jqx-grid-cell-arbpro,.jqx-menu-vertical-arbpro .jqx-menu-item-top-normal-arbpro, .jqx-input-popup-arbpro .jqx-fill-state-normal-arbpro
{
  font-family: Verdana;
}
.jqx-widget-arbpro .jqx-grid-cell-hover-arbpro, .jqx-listitem-state-hover-arbpro, .jqx-menu-item-hover-arbpro, .jqx-tree-item-hover-arbpro, .jqx-calendar-cell-hover-arbpro, .jqx-grid-cell-hover-arbpro,.jqx-menu-vertical-arbpro .jqx-menu-item-top-hover-arbpro, .jqx-input-popup-arbpro .jqx-fill-state-hover-arbpro,.jqx-input-button-header-arbpro, .jqx-input-popup-arbpro .jqx-fill-state-pressed-arbpro,.jqx-input-button-header-arbpro
{
  font-family: Verdana;
}
.jqx-widget-arbpro  .jqx-grid-cell-selected-arbpro, .jqx-listitem-state-selected-arbpro, .jqx-menu-item-selected-arbpro, .jqx-tree-item-selected-arbpro, .jqx-calendar-cell-selected-arbpro, .jqx-grid-cell-selected-arbpro,.jqx-menu-vertical-arbpro .jqx-menu-item-top-selected-arbpro, .jqx-grid-selectionarea-arbpro
{
  font-family: Verdana;
}
.jqx-icon-calendar-arbpro
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-hover-arbpro
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-pressed-arbpro
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-first-arbpro
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-first-hover-arbpro
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-first-selected-arbpro
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-last-arbpro
{
  background-image: url('images/icon-last-white.png');
}
.jqx-icon-last-hover-arbpro
{
  background-image: url('images/icon-last-white.png');
}
.jqx-icon-last-selected-arbpro
{
  background-image: url('images/icon-last-white.png');
}
.jqx-grid-cell-arbpro.jqx-grid-cell-arbpro>.jqx-grid-group-expand-arbpro
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-arbpro.jqx-grid-cell-hover-arbpro>.jqx-grid-group-expand-arbpro
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-arbpro.jqx-grid-cell-selected-arbpro>.jqx-grid-group-expand-arbpro
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-arbpro.jqx-grid-cell-arbpro>.jqx-grid-group-collapse-arbpro
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-arbpro.jqx-grid-cell-hover-arbpro>.jqx-grid-group-collapse-arbpro
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-arbpro.jqx-grid-cell-selected-arbpro>.jqx-grid-group-collapse-arbpro
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-arbpro.jqx-grid-cell-arbpro>.jqx-grid-group-expand-rtl-arbpro
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-arbpro.jqx-grid-cell-hover-arbpro>.jqx-grid-group-expand-rtl-arbpro
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-arbpro.jqx-grid-cell-selected-arbpro>.jqx-grid-group-expand-rtl-arbpro
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-arbpro.jqx-grid-cell-arbpro>.jqx-grid-group-collapse-rtl-arbpro
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-arbpro.jqx-grid-cell-hover-arbpro>.jqx-grid-group-collapse-rtl-arbpro
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-cell-arbpro.jqx-grid-cell-selected-arbpro>.jqx-grid-group-collapse-rtl-arbpro
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-column-menubutton-arbpro, .jqx-grid-column-sortdescbutton-arbpro
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-column-sortascbutton-arbpro
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-delete-arbpro
{
  background-image: url('images/icon-delete.png');
}
.jqx-icon-edit-arbpro
{
  background-image: url('images/icon-edit.png');
}
.jqx-icon-save-arbpro
{
  background-image: url('images/icon-save.png');
}
.jqx-icon-cancel-arbpro
{
  background-image: url('images/icon-cancel.png');
}
.jqx-icon-search-arbpro
{
  background-image: url('images/icon-search.png');
}
.jqx-icon-plus-arbpro
{
  background-image: url('images/icon-plus.png');
}
